.asset
{
	padding:.75em;
	margin:16px;
	text-align:center;
	
	display:-webkit-flex;
	justify-content:center;
	/*align-items:center;*/
	
	width:12em;
	
	background: grey;
	color:black;
	
	height: 6em;
	width: 12em;	
	margin: 8px; /*TODO change this to be set with em type units on page load; need this so the spacing works*/
	border-radius: 1.5em;
	
	transition: all .4s .0s, width .4s .0s, height .4s .0s;
}

.asset.open
{
	transition: all .4s, width .4s, height .4s;
}

.asset.open > div.title
{
	text-align:center;
	/*margin-top: 1em !important;*/
	transition: all .4s;
	font-size:2em;
}

.assetSmallerParent
{
	
}

.assetSmallerParent.hidden
{
	height:0px !important;
	overflow:hidden;
}

.assetSmallererParent
{
	display:-webkit-flex;
	/*flex-direction: row;*/
	/*justify-content:flex-start;*/
	flex-wrap:wrap;
	
	/*margin-left:3em;*/
	
	transition: all .4s;
}

.assetParent > .title
{
	font-size:2em;
	padding:.5em;
}

#assetsTitle
{
	color:grey;
	margin: .75em;
}

.assetParent:nth-child(odd)
{
	background:rgba(45,66,85,1);
	color:white;
}

.assetParent
{
	color:#3A3A3A;
	/*color:white;*/
	text-align:left;
	/*width:100%;*/
	padding-bottom:1em;
	
	display:-webkit-flex;
	flex-direction:column;
}

#assetsSlider.hidden
{
	height: 0em !important;
}

#assetsSlider
{
	font-size:1em !important;
	height: 0em;
	width:100%;
	background-color:#D2D2D2;
	
	margin:0em;
	padding:0em;
	border:0em;
	
	position:absolute;
	bottom:0em;
	left:0em;
	
	color:black;
	text-align:center;
		
	transition: all .4s;
	
	overflow-x:auto;
	
	transition: all .4s;
	
	display:-webkit-flex;
	flex-direction: column;
	align-items: center;
}























