body
{
	margin:0;
	overflow:hidden;
	height:100%;
	width:100%;
}

body:hover
{
	cursor:default;
}

#assetsSlider.hidden
{
	height: 0em !important;
}

#assetsSlider
{
	font-size:1em !important;
	height: 0em;
	width:100%;
	background-color:#D2D2D2;
	
	margin:0em;
	padding:0em;
	border:0em;
	
	position:absolute;
	bottom:0em;
	left:0em;
	
	color:black;
	text-align:center;
		
	transition: all .4s;
	
	overflow-x:auto;
	
	transition: all .4s;
	
	display:-webkit-flex;
	flex-direction: column;
	align-items: center;
}

#assetsSubSlider
{
	display:-webkit-flex;
	flex-direction: colun;
	
	justify-content:space-around;
	
	-webkit-flex-wrap:wrap;
	
	transition: all .4s;
	width:90%;
}

.asset
{
	background:#ADADAD;
	color:black;
	
	height: 16em;
	width: 12em;	
	margin: 8px; /*TODO change this to be set with em type units on page load; need this so the spacing works*/
	
	border-radius: 1.5em;
	/*box-shadow: 0px 0px .5em #000000;*/
	
	justify-content:center;
	
	transition: all .4s .0s, width .4s .0s, height .4s .0s;
}

.asset.open
{
	position:absolute;
	
	left: 1em !important;
	top: 1em !important;
	
	justify-content:flex-start;
	transition: all .4s, width .4s, height .4s;
}

.asset > div
{
	/*transition: all .4s, width .4s, height .4s;*/
}

.asset.open > div.title
{
	text-align:center;
	margin-top: 1em !important;
	transition: all .4s;
	font-size:3em;
}

.asset > div.title
{
	transition: font-size .4s;
}

#greyOutBox.hidden
{
	background: rgba(0,0,0,0) !important;
	z-index: -1 !important;
}

#greyOutBox
{
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0; 
	left:0; 
	background:rgba(0,0,0,.7);
	z-index:-1;
	
	transition: all .4s;
}

.buttonContent
{
	margin:3em;
	transition: all .4s;
	display:block;
}

.buttonContent.hidden
{
	display:none;
}

.contentHolder
{
	overflow:hidden;
	
	opacity: 1;
	
    transition: all .4s, height .4s .2s, opacity .4s .4s; /*the .2s is really nice with the .4*/
}
.contentHolder.hidden
{	
	opacity: 0;
	height:0em;
    transition: all .4s, height .4s 0s, opacity .4s .4s;
}

.placeHolder
{
	position: static !important;
	z-index:1 !important;
	transition: all 0s;
	box-shadow:none;
	background: rgba(0,0,0,0);
}

#xIcon
{
	width:2em;
	height:2em;	
	
	opacity: 1;
	
	z-index:3;
	position:absolute;
    transition: opacity .4s;
}
#xIcon.hidden
{
	opacity: 0;
    transition: all .0s;
}

#assetsTitle
{
	height:6em;
}




























