/*
Header = #2d4255
Menu = #003647
Cube highlight face 1 = #64f9ab
Cube highlight face 2 = #fcdd49
Cube highlight face 3 = #ff8039
*/
.display-none
{
	display: none;
}

.positionRelative
{
	position: relative;
}

.positionAbsolute
{
	position: absolute;
}

.doCenter
{
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.white-txt
{
	color: white;
}

.black-txt
{
	color: black;
}

.white-bg
{
	background-color: white;
}

.black-bg
{
	background-color: black;
}

.translateX12
{
	transform: translateX(12vw);
}
.translateX-12
{
	transform: translateX(-12vw);
}
.translateX30
{
	transform: translateX(30%);
}
.translateX-30
{
	transform: translateX(-30%);
}
.translateX35
{
	transform: translateX(35%);
}
.translateX-35
{
	transform: translateX(-35%);
}
.translateX38
{
	transform: translateX(38%);
}
.translateX-38
{
	transform: translateX(-38%);
}
.translateX40
{
	transform: translateX(40%);
}
.translateX-40
{
	transform: translateX(-40%);
}
.translateX100
{
	transform: translateX(100%);
}
.translateX-100
{
	transform: translateX(-100%);
}
.translateY100
{
	transform: translateY(100%);
}
.translateY-100
{
	transform: translateY(-100%);
}
.rotateZ90
{
	transform: rotateZ(90deg);
}
.rotateZ-90
{
	transform: rotateZ(-90deg);
}

/*CANVAS container*/
#canvas-container
{
	xheight: 93vh;
	height: 93.75%;
	width: 100%;
	z-index: 1;
	position: relative;
	overflow: hidden;
}

#WebGL-output
{
	height: 100%;
	width: 100%;
	z-index: 1;
	position: relative;
	transition: transform 500ms ease-out;
	/* background-color: rgba(255,0,0,0.1); */
}

#canvas-overlay
{
    position: absolute;
    top: 15%;
    left: 5%;
    height: 55vh;
    width: 50vh;
    xborder: 1px solid black;
    z-index: 5;
}

#canvas-overlay .image
{
	background-image: url(../images/sample-cropped.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 4px;
}

/*FOOTER*/
#footer
{
	height: 7vh;
	border-top: 1px solid rgba(255,255,255,0.5);
	background-image: url(../images/footer.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: 1;
}

/*HEADER*/
#header
{
	xheight: 7vh;
	height: 6.25%;
	width: 100%;
	xborder-bottom: 1px solid rgba(255,255,255,0.5);
	z-index: 1;
	background-color: #2d4255;/* #30373d; */
}

#header .ibm-logo
{
	background-image: url(../images/ibmlogo-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    height: 2rem;
    width: 5rem;
    margin-left: 2rem;
}

#header .titlename
{
	font-size: 2.25rem;
	text-align: center;
	color: white;
	margin-left: 2rem;
}

#header .user-profile-icon
{
	background-image: url(../images/icons/CircledUserMale.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-right:1rem;
}

#header .user-image
{
	background-image: url(../images/icons/CircledUserMale-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 50%;
	/* border: 1px solid rgba(255,255,255,1); */
	height:3rem;
	width:3rem;
	margin-right:1rem;
}

#header .settings-icon
{
	background-image: url(../images/icons/SettingsFilled.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-right:1rem;
}

#header .logout-icon
{
	background-image: url(../images/icons/CloseWindow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-right:1rem;
}

#header .search-box
{
	font-weight: bolder;
    xborder-bottom: 1px solid rgba(255,255,255,0.5);
    border-radius: 0px;
    font-size: 1.5rem;
}

#header .search-icon
{
    background-image: url(../images/icons/Search-Filled-64-gray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.75rem;
    width: 1.75rem;
    margin-left: 0.5rem;
    cursor: pointer;
    /* top: 5px; */
}

#header .search-entry
{
	color: rgba(255,255,255,0.3);
}

#header .search-send
{
	background-image: url(../images/icons/forward_128-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 2rem;
    width: 2rem;
    right: 0.5rem;
    cursor: pointer;
    /* top: 5px; */
}

.menu-turquoise
{
	background-image: url(../images/icons/MenuFilled-turquoise.png);
}

.menu-white
{
	background-image: url(../images/icons/MenuFilled-white.png);	
}

#header .menu-icon
{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:2rem;
	width:2rem;
	margin-left:1rem;
	transition: transform 0.3s ease;
	cursor: pointer;
}

#header .home-icon
{
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-left:1rem;
	transition: transform 0.3s ease;
}


#main-container
{
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
	z-index: 1;
	position: relative;
}

/*Menu*/
#menu
{
    position: absolute;
    z-index: 1;
    background-color: #2d4255;
    transition: transform 0.3s ease;
    height: 100%;
    /* width: 12vw; */
    top: 0;
    font-size: 2.25rem;
    padding: 1rem;
    box-shadow: inset -2px 0 38px -9px rgba(0,0,0,1);
}

#menu div
{
	margin-bottom: 1rem;
	padding: 1rem;
}

#menu div .highlight-menu-item
{
	background-color: gray;
}

/*2D Breadcrums */
.highlight-breadcrum
{
	background-color: rgba(255,255,255,0.6) !important;
}

.highlight-svg-triangle
{
	fill: rgba(255,255,255,0.6) !important;
}

.breadcrum-container
{
    position: absolute;
    top: 1%;
    left: 0.5%;
    xborder: 1px solid black;
    font-size: 1.25rem;
    color: black;
    xpadding: 0.1rem;
    font-weight: bold;
    xwidth: 30%;
    xheight: 8%;
    z-index: 2;
}

.breadcrum-container > div
{
    xwidth: 33%;
    xwidth: 180px;
    height: 100px;
    text-align: center;
    margin-right: 0.2rem;
}

.breadcrum-container .breadcrum-items
{
    xwidth: 165px;
    width: 120px;
    height: 100%;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.2);
    transition: background-color 500ms ease-in, display 500ms ease-in;
}

/* .breadcrum-container .triangle
{
    width: 15px;
    height: 100%;
    clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 100% 50%);
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 100% 50%);
    background-color: rgba(255,255,255,0.2);
    transition: background-color 500ms ease-in, display 500ms ease-in;
} */

.breadcrum-container .triangle svg
{
	fill: rgba(255,255,255,0.2);
	transition: fill 500ms ease-in;
}

#breadcrum-strip
{
	height: 2.75%;
	width: 100%;
	z-index: 2;
    background-color: #222a30;
    font-size: 1.35rem;
    transition: transform 0.3s ease-in;
    position: absolute;
    top: 0;
}

#breadcrum-strip > div:first-child
{
	margin-left: 1rem;
}

#breadcrum-strip .arrow
{
	background-image: url(../images/icons/Forward-64-gray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.bolder-breadcrum
{
	font-weight: bolder;
}

.serachbox
{
	width: 100%;
	text-align: left;
	color: white;
	background-color: transparent;
	border: 0;
	font-size: 1.5rem;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    /* -webkit-appearance: none; */
    padding-left: 30px;
}

/*search-results*/
.search-results
{
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 700;
    /* display: none; */
    box-shadow: 5px 5px 7px rgba(0,0,0,.4);
    border: solid 1px #DFE9E9;
}

.search-results .footer
{
	font-size: 1.25rem;
	padding: 1rem;
    color: #7D7373;
    text-align: right;
    border-top: solid 1px #DFE9E9;
    color: black;
}

.search-results .footer:hover 
{
	background: #F4F4F4;
}

.search-table td + td { border-left:1px solid #DFE9E9; }
.search-table
{
	width: 100%;
	border-collapse: collapse;
    table-layout: fixed;
}

.search-table .cell1
{
	width: 20%;
	padding: 0.5rem;
	text-align: right;
	font-size: 1.25rem;
}

.search-table .cell2
{
	width: 80%;
	padding: 0.5rem;
    padding-bottom: 1rem;
}

.search-table .cell2:hover 
{
	background: #F4F4F4;
}

.search-result-item
{
    font-size: 1.25rem;
}

.search-result-item .title
{
	font-weight: bolder;
	font-size: 1.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-result-item .desc
{
	color: #7D7373;
	font-size: 1.15rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.5rem;
}

#assetOverlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
}

.assetOverlayParent
{
    background: #ffffff;
    color: black;
	padding: 2.18rem;
    font-size: 1.5rem;
    overflow: hidden;
    transition: margin .2s .2s;
    
}

.assetOverlayParent .assetOvTitle
{
    text-align: left;
	font-size: 2rem;
	padding-top: 2rem;
}

.assetOverlayParent .assetOvContent
{
    text-align: left;
    padding-top: 2rem;
}

.assetOverlayParent .assetOvLink
{
	xfont-size: 2rem;
	padding-top: 2rem;
	text-align: left;
}

.assetOverlayParent .assetOvLink > a
{
	color: blue;
	text-decoration: underline;
}

.assetOverlayParent .assetOvLink > a:hover
{
	cursor: pointer;
}

#pxIcon
{
	width: 2rem;
    height: 2rem;
    opacity: 1;
    z-index: 2;
    position: absolute;
    transition: opacity .4s;
    transform: translateZ(100px);
    right: 3%;
    top: 10%;
}

.assetOverlayParent .social-icons
{
	padding-top: 2rem;
}

.assetOverlayParent .social-icons .icon
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-right: 2rem;
	height: 2rem;
	width: 2rem;
}

.assetOverlayParent .social-icons .icon:nth-child(1)
{
	background-image: url(../images/icons/bookmark_64.png);
}

.assetOverlayParent .social-icons .icon:nth-child(2)
{
	background-image: url(../images/icons/HeartsFilled-64-black.png);
}

.assetOverlayParent .social-icons .icon:nth-child(3)
{
	background-image: url(../images/icons/ShareFilled.png);
}

.assetOverlayParent .social-icons .icon:nth-child(4)
{
	background-image: url(../images/icons/TwitterFilled.png);
}