/*
Header = #2d4255
Menu = #003647
Cube highlight face 1 = #64f9ab
Cube highlight face 2 = #fcdd49
Cube highlight face 3 = #ff8039
*/
.display-none
{
	display: none;
}

.positionRelative
{
	position: relative;
}

.positionAbsolute
{
	position: absolute;
}

.doCenter
{
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.white-txt
{
	color: white;
}

.black-txt
{
	color: black;
}

.white-bg
{
	background-color: white;
}

.black-bg
{
	background-color: black;
}

.translateX12
{
	transform: translateX(12vw);
}
.translateX-12
{
	transform: translateX(-12vw);
}
.translateX100
{
	transform: translateX(100%);
}
.translateX-100
{
	transform: translateX(-100%);
}
.rotateZ90
{
	transform: rotateZ(90deg);
}
.rotateZ-90
{
	transform: rotateZ(-90deg);
}

/*CANVAS container*/
#canvas-container
{
	height: 93vh;
	width: 100%;
	z-index: 1;
	position: relative;
}

#WebGL-output
{
	height: 100%;
	width: 100%;
	z-index: 1;
	position: relative;
}

#canvas-overlay
{
    position: absolute;
    top: 15%;
    left: 5%;
    height: 55vh;
    width: 50vh;
    xborder: 1px solid black;
    z-index: 5;
}

#canvas-overlay .image
{
	background-image: url(../images/sample-cropped.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 4px;
}

/*FOOTER*/
#footer
{
	height: 7vh;
	border-top: 1px solid rgba(255,255,255,0.5);
	background-image: url(../images/footer.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: 1;
}

/*HEADER*/
#header
{
	height: 7vh;
	width: 100%;
	xborder-bottom: 1px solid rgba(255,255,255,0.5);
	z-index: 1;
	background-color: #30373d;
}

#header .ibm-logo
{
	background-image: url(../images/ibmlogo-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    height: 3rem;
    width: 6rem;
    margin-left: 3rem;
}

#header .title
{
	font-size: 2.25rem;
	text-align: center;
	color: white;
	margin-left: 2rem;
}

#header .user-profile-icon
{
	background-image: url(../images/icons/CircledUserMale.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-right:1rem;
}

#header .user-image
{
	background-image: url(../images/icons/CircledUserMale-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 50%;
	/* border: 1px solid rgba(255,255,255,1); */
	height:4rem;
	width:4rem;
	margin-right:1rem;
}

#header .settings-icon
{
	background-image: url(../images/icons/SettingsFilled.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-right:1rem;
}

#header .logout-icon
{
	background-image: url(../images/icons/CloseWindow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-right:1rem;
}

#header .search-box
{
	font-weight: bolder;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-radius: 0px;
    font-size: 1.5rem;
}

#header .search-icon
{
    background-image: url(../images/icons/Search-Filled-64-gray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.75rem;
    width: 1.75rem;
    margin-left: 0.5rem;
}

#header .search-entry
{
	color: rgba(255,255,255,0.3);
}

#header .search-send
{
	background-image: url(../images/icons/Forward-64-gray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.55rem;
    width: 1.55rem;
}

.menu-turquoise
{
	background-image: url(../images/icons/MenuFilled-turquoise.png);
}

.menu-white
{
	background-image: url(../images/icons/MenuFilled-white.png);	
}

#header .menu-icon
{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-left:1rem;
	transition: transform 0.3s ease;
}

#header .home-icon
{
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height:3rem;
	width:3rem;
	margin-left:1rem;
	transition: transform 0.3s ease;
}


#main-container
{
	width: 100vw;
	height: 100vh;
	transition: transform 0.3s ease;
	z-index: 1;
}

/*Menu*/
#menu
{
    position: absolute;
    z-index: 1;
    background-color: #2d4255;
    transition: transform 0.3s ease;
    height: 100vh;
    /* width: 12vw; */
    top: 0;
    font-size: 2.25rem;
    padding: 1rem;
    box-shadow: inset -2px 0 38px -9px rgba(0,0,0,1);
}

#menu div
{
	margin-bottom: 1rem;
	padding: 1rem;
}

#menu div .highlight-menu-item
{
	background-color: gray;
}

/*2D Breadcrums */
.highlight-breadcrum
{
	background-color: rgba(255,255,255,0.6) !important;
}

.breadcrum-container
{
	position: absolute;
	top: 1%;
	left: 0.5%;
	xborder: 1px solid black;
	font-size: 1.5rem;
    color: black;
    xpadding: 0.1rem;
    font-weight: bold;
    xwidth:30%;
    xheight: 8%;
    z-index: 2;
}

.breadcrum-container > div
{
	xwidth: 33%;
	width: 200px;
	height: 100px;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	padding: 0.5rem;
	margin-right: 0.2rem;
	transition: background-color 500ms ease-in, display 500ms ease-in;
}

