@font-face {
  font-family: HelvNeueBoldforIBM;
  src: url("../fonts/HelvNeueBoldforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueBoldItalicforIBM;
  src: url("../fonts/HelvNeueBoldItalicforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueCondforIBM;
  src: url("../fonts/HelvNeueCondforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueLightCondforIBM;
  src: url("../fonts/HelvNeueLightCondforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueLightforIBM;
  src: url("../fonts/HelvNeueLightforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueLightItalicforIBM;
  src: url("../fonts/HelvNeueLightItalicforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueMediumforIBM;
  src: url("../fonts/HelvNeueMediumforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueMediumItalicforIBM;
  src: url("../fonts/HelvNeueMediumItalicforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueRomanforIBM;
  src: url("../fonts/HelvNeueRomanforIBM.otf") format("opentype");
}

@font-face {
  font-family: HelvNeueRomanItalicforIBM;
  src: url("../fonts/HelvNeueRomanItalicforIBM.otf") format("opentype");
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h3 {
  color: #198cbf;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 44px;
  font-weight: 300;
  margin: 0 0 30px;
  padding: 0;
}

h4 {
  color: #198cbf;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 132px;
  font-weight: 500;
  margin: 0 0 30px;
  padding: 0;
}
p {
  color: #777677;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: 5px 0 15px;
}

p.bold {
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
}

p .bold {
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
}

p.confirm {
  margin: 20px 0;
}

p.error {
  color: #d0021b;
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
}

a {
  color: #198cbf;
  font-family: "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 21px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a:hover {
  border-bottom: 1px solid #198cbf;
}

a b {
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
}

a.email {
  color: #777677;
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
  font-size: 18px;
}

.bold-font{
	color: #198cbf;
  font-family: "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 21px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  h3 {
    max-width: 250px;
  }

  h3.error {
    max-width: 277px;
  }

  p {
    max-width: 320px;
  }

  p.confirm {
    max-width: 330px;
  }

  p.error {
    max-width: 280px;
  }
}

.inner {
  max-width: 33.75em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0 0;
  width: 33.75em;
}

.inner:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
  }
}

.container {
  margin: 0 30px;
  padding: 100px 0 0;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 2px 30px 20px;
  }
}

.row {
  display: block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%;
}

.col-1:last-child {
  margin-right: 0;
}

.col-2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
}

.col-2:last-child {
  margin-right: 0;
}

.col-3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
}

.col-3:last-child {
  margin-right: 0;
}

.col-4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%;
}

.col-4:last-child {
  margin-right: 0;
}

.col-5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
}

.col-5:last-child {
  margin-right: 0;
}

.col-6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
}

.col-6:last-child {
  margin-right: 0;
}

.col-7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%;
}

.col-7:last-child {
  margin-right: 0;
}

.col-8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
}

.col-8:last-child {
  margin-right: 0;
}

.col-9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%;
}

.col-9:last-child {
  margin-right: 0;
}

.col-10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%;
}

.col-10:last-child {
  margin-right: 0;
}

.col-11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%;
}

.col-11:last-child {
  margin-right: 0;
}

.col-12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
}

.col-12:last-child {
  margin-right: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.shift-1 {
  margin-left: 8.33333%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  outline: none;
  transition: all 0.1s ease-in-out;
}

input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #198cbf;
  border-radius: 0;
  color: #198cbf;
  display: block;
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
  font-size: 22px;
  height: 60px;
  line-height: 58px;
  margin: 30px 0;
  width: 200px;
}

input[type=submit]:hover,
button:hover {
  border: 2px solid #325c80;
  color: #325c80;
}

.eula input[type="radio"] { 
-webkit-appearance: radio !important; 
-moz-appearance: radio !important; 
-ms-appearance: radio !important; 
-o-appearance: radio !important; 
appearance: radio !important; 

}

input[type=number],
{
  background-color: #efeeef;
  border: 0;
  color: #000;
  display: inline-block;
  margin: 10px 0;
  
}


input[type=text],
input[type=email],
input[type=password] {
  background-color: #efeeef;
  border: 0;
  color: #000;
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: #000;
}

input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #000;
}

input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=number]:-moz-placeholder,
input[type=password]:-moz-placeholder {
  color: #000;
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  color: #000;
}

input[type=text].error,
input[type=email].error,
input[type=number].error,
input[type=password].error {
  background-color: #fff;
  border: 2px solid #d0021b;
  border-radius: 0;
  color: #4a4a4a;
}

.passcode {
  color: #4a4a4a;
  display: inline-block;
  font-family: "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 6px;
}

.passcode input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #eee;
  border-radius: 0;
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
  height: 60px;
  letter-spacing: 6px;
  margin-left: -5px;
  width: 336px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .passcode input {
    padding-top: 12px;
  }
}

.loader {
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  height: 74px;
  margin-bottom: 20px;
  width: 74px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .loader {
    background-image: url("../images/loader_2x.gif");
    background-size: 74px 74px;
  }
}

.spacer.blue {
  background-color: #198cbf;
  height: 4px;
  margin: 50px 0 40px;
  width: 100%;
}

.spacer.grey {
  background-color: #979797;
  height: 1px;
  margin: 25px 0 20px;
  width: 100%;
}

.step p {
  font-size: 21px;
  margin: 5px 0;
}

.step p.title {
  color: #198cbf;
}

.step a {
  color: #777677;
  font-size: 21px;
}


.step a.delivery {
  color: #198cbf;
  font-family: "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 21px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.step a.delivery:hover {
  border-bottom: 1px solid #198cbf;
}



.step .bold {
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
}

.error-message {
  background-image: url("../images/alert.png");
  background-position: top left;
  background-repeat: no-repeat;
  color: #5f5f63;
  font-family: "HelvNeueMediumforIBM", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 40px 0;
  padding-left: 100px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .error-message {
    background-image: url("../images/alert_2x.png");
    background-size: 74px 61px;
  }
}

@media screen and (max-width: 768px) {
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0;
  }

  input[type=text].error,
  input[type=email].error,
  input[type=number].error,
  input[type=password].error {
    border: 1px solid #d0021b;
  }

  .step p {
    max-width: 330px;
  }

  .passcode {
    display: inline-block;
  }

  .passcode input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0;
    display: inline-block;
    height: 48px;
    width: 50%;
  }

  .spacer.blue {
    width: 97%;
  }

  .spacer.grey {
    width: 97%;
  }

  .error-message {
    background-position: top left;
    background-repeat: no-repeat;
    color: #5f5f63;
    font-family: "HelvNeueMediumforIBM", Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin: 20px 0;
    max-width: 300px;
    padding-left: 0;
    padding-top: 80px;
  }
}

.errStatus{
	position: center;
}
.errStatus h3 {
  color: #4a4a4a;
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  height: 60px;
  line-height: 36px;
  margin-bottom: 10px;
}

.errStatus h2 {
  color: #4a4a4a;
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  height: 60px;
  line-height: 36px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.signin {
  position: relative;
}

.signin .icon {
  background-image: url("../images/lockimage.gif");
  display: inline-block;
  height: 102px;
  left: -142px;
  position: absolute;
  width: 102px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .signin .icon {
    background-image: url("../images/lockimage_2x.gif");
    background-size: 102px 102px;
  }
}

.signin h3 {
  color: #4a4a4a;
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  height: 60px;
  line-height: 36px;
  margin-bottom: 10px;
}

.signin b {
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
}

.signin .name {
  color: #198cbf;
}

.signin .normal {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
}

.signin input[type=text],
.signin input[type=email],
.signin input[type=number],
.signin input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #eee;
  border-radius: 0;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 20px;
  height: 60px;
  margin-bottom: 17px;
  width: 460px;
}

.signin input[type=text].desktop,
.signin input[type=email].desktop,
.signin input[type=number].desktop,
.signin input[type=password].desktop {
  display: block;
}

.signin input[type=text].mobile,
.signin input[type=email].mobile,
.signin input[type=number].mobile,
.signin input[type=password].mobile {
  display: none;
}

.signin input[type=submit],
.signin button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #198cbf;
  border-radius: 0;
  color: #198cbf;
  display: block;
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
  font-size: 22px;
  height: 60px;
  line-height: 58px;
  margin: 30px 0;
  width: 200px;
}

.signin input[type=submit]:hover,
.signin button:hover {
  border: 2px solid #325c80;
  color: #325c80;
}

.verifying {
  background-color: #fff;
  height: 100%;
  opacity: 0.96;
  padding-top: 60px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.verifying .container {
  margin: 0 auto;
  width: 33.75em;
}

.verifying h3 {
  color: #4a4a4a;
}

.verifying .spacer.blue {
  background-color: #198cbf;
  height: 4px;
  margin: 0 0 20px;
}

@media screen and (max-width: 768px) {
  .signin {
    padding-top: 20px;
  }

  .signin .icon {
    background-size: 60px 60px;
    float: left;
    height: 60px;
    left: 0;
    line-height: 60px;
    position: inherit;
    width: 60px;
  }

  .signin h3 {
    float: left;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
    margin-left: 15px;
    width: 185px;
  }

  .signin input[type=text],
  .signin input[type=email],
  .signin input[type=number],
  .signin input[type=password] {
    margin-bottom: 10px;
    width: 100%;
  }

  .signin input[type=text].desktop,
  .signin input[type=email].desktop,
  .signin input[type=number].desktop,
  .signin input[type=password].desktop {
    display: none;
  }

  .signin input[type=text].mobile,
  .signin input[type=email].mobile,
  .signin input[type=number].mobile,
  .signin input[type=password].mobile {
    display: block;
  }

  .signin input[type=submit],
  .signin button {
    margin: 20px 0 40px;
  }

  .verifying {
    padding-top: 65px;
  }

  .verifying .container {
    margin: 60px auto 0;
    width: inherit;
  }

  .verifying h3 {
    max-width: 270px;
  }
}

#header {
  background-color: #198cbf;
  color: #fff;
  height: 80px;
  position: relative;
}

#header #logo {
  background-image: url("../images/w3id.png");
  display: block;
  height: 31px;
  left: 50px;
  position: absolute;
  top: 24px;
  width: 85px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  #header #logo {
    background-image: url("../images/w3id_2x.png");
    background-size: 85px 31px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    height: 60px;
  }

  #header #logo {
    background-size: 64px 23px;
    height: 23px;
    left: 30px;
    top: 18px;
    width: 64px;
  }
}

html,
body {
  height: 100%;
  position: relative;
}

.wrapper {
  margin: 0 auto -80px;
  min-height: 100%;
  padding-bottom:40px;
}

#footer,
.push {
  height: 80px;
}

#footer {
  background-color: #198cbf;
  padding: 10px 0;
  position: relative;
}

#footer #logo {
  background-image: url("../images/ibm.png");
  height: 29px;
  left: 50px;
  position: absolute;
  top: 27px;
  width: 73px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  #footer #logo {
    background-image: url("../images/ibm_2x.png");
    background-size: 73px 29px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 auto -60px;
    min-height: 100%;
  }

  #footer,
  .push {
    height: 60px;
  }

  #footer #logo {
    background-size: 51px 20px;
    height: 20px;
    left: 30px;
    top: 20px;
    width: 51px;
  }
}

.email-container {
  padding: 10% 0;
}

.email h3 {
  color: #198cbf;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelvNeueLightforIBM", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 5px;
  padding: 0;
}

.email h3.code {
  color: #333;
  margin-bottom: 50px;
}

.email p {
  font-size: 14px;
}

.email p.signature {
  color: #777677;
  font-family: "HelvNeueMediumforIBM", Arial, sans-serif;
}

.email span.name {
  color: #198cbf;
  font-family: "HelvNeueLightforIBM", Arial, sans-serif;
}

.email span b {
  font-family: "HelvNeueBoldforIBM", Arial, sans-serif;
}

.email .spacer {
  background-color: #979797;
  display: block;
  height: 1px;
  margin: 40px 0 15px;
  width: 100%;
}

.email .logo {
  background-image: url("../images/ibm_blue.png");
  display: block;
  height: 32px;
  margin-top: 30px;
  width: 81px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .email .logo {
    background-image: url("../images/ibm_blue_2x.png");
    background-size: 81px 32px;
  }
}

@media screen and (max-width: 768px) {
  .email-container {
    padding: 10% 5%;
  }

  .email h3.code {
    color: #333 !important;
    margin-bottom: 20px !important;
  }

  .email p {
    font-size: 18px !important;
    margin-bottom: 30px !important;
  }

  .email .spacer {
    margin-top: 60px !important;
  }
}