body
{
	margin:0;
	overflow:hidden;
	height:100%;
	/*width:100%;*/
}

body:hover
{
	cursor:default;
}

#assetsSlider.hidden
{
	height: 0em !important;
}

#assetsSlider
{
	font-size:1em !important;
	height: 0em;
	/*width:100%;*/
	background-color:#D2D2D2;
	
	margin:0em;
	padding:0em;
	border:0em;
	
	position:absolute;
	bottom:0em;
	left:0em;
	
	color:black;
	text-align:center;
		
	transition: all .4s;
	
	/*overflow-x:auto;*/
	
	transition: all .4s;
	
	display:-webkit-flex;
	flex-direction: column;
	align-items: center;
}

#assetsSubSlider
{
	display:-webkit-flex;
	flex-direction: column;
	
	justify-content:space-around;
	
	-webkit-flex-wrap:wrap;
	
	transition: all .4s;
	width:90%;
}

.subSlider
{
	display:-webkit-flex;
	flex-direction: row;
	justify-content:space-around;
	-webkit-flex-wrap:wrap;
	
	width:95%;
}

.asset > div
{
	/*transition: all .4s, width .4s, height .4s;*/
}

.asset.open > div.title
{
	text-align:center;
	margin-top: 1em !important;
	transition: all .4s;
	font-size:3em;
}

.asset > div.title
{
	transition: font-size .4s;
	margin-left:.75em;
	margin-right:.75em;
}

.buttonContent
{
	margin:3em;
	transition: all .4s;
	display:block;
}

.buttonContent.hidden
{
	display:none;
}

.placeHolder
{
	position: static !important;
	z-index:1 !important;
	transition: all 0s;
	box-shadow:none;
	background: rgba(0,0,0,0);
}






























