body
{
	margin:0;
	overflow:hidden;
	height:100%;
	/*width:100%;*/
}

body:hover
{
	cursor:default;
}

#assetsSubSlider
{
	display:-webkit-flex;
	display:flex;
	flex-direction: column;
	
	justify-content:space-around;
	
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	
	transition: all .4s;
	width:90%;
}

.subSlider
{
	display:-webkit-flex;
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	
	width:95%;
}

.asset > div
{
	/*transition: all .4s, width .4s, height .4s;*/
}

.asset.open > div.title
{
	text-align:center;
	/*margin-top: 1rem !important;*/
	transition: all .4s;
	font-size:3rem;
}

.asset > div.title
{
	transition: font-size .4s;
	/*margin-left:.75rem;*/
	/*margin-right:.75rem;*/
}

.buttonContent
{
	/*margin:3rem;*/
	transition: all .4s;
	display:block;
}

.buttonContent.hidden
{
	display:none;
}

.placeHolder
{
	position: static !important;
	z-index:1 !important;
	transition: all 0s;
	box-shadow:none;
	background: rgba(0,0,0,0);
}






























