.asset
{
	transform:translateZ(100px);
	
	/*display:-webkit-flex;*/
	/*display:flex;*/
	justify-content:center;
	/*align-items:center;*/
		
	background: #ffffff;
	color:black;
	
	height: 20.90rem; /*for some reason if this is above 10.7rem (119px) it will be hidden by the space above the slider*/
	width: 20.45rem;
	
	margin-top:1.27rem;/*about 14 px on ipad*/
	/*margin-right:18px;*/
	/*margin-bottom:1.63rem; /*about 18 px on ipad*/
	/*border-radius: 1.5rem;*/
	/*border-width: 2px;
	border-color: #00b9de;
	border-style: solid;*/

	padding:2.18rem;/*about 24 px on ipad*/
	
	font-size:1.5rem;
	
	overflow:hidden;
	
	/*transition: all .4s .0s, width .4s .0s, height .4s .0s;*/
	
}

.asset:hover
{
	box-shadow: 0rem .3rem 1rem grey;
}

.asset .title
{
	font-size:2.27rem;/*about 25 px on ipad*/
}

.asset .title  a.hidden 
{
	font-size:0rem;
}

.asset .title  a
{
	text-decoration: underline;
	color:blue;
	font-size: 1.63rem;
}

.asset.open
{
	/*transition: all .4s, width .4s, height .4s;*/
	z-index:10;
}

.asset.open > div.title
{
	text-align:center;
	/*margin-top: 1rem !important;*/
	transition: all .4s;
	font-size:2rem;
}

.asset > img
{
	width: 2.72rem;
}

.asset > *
{
}

.asset:not(.open) .assetContent
{
	font-size:0rem;
}

.assetContent
{
	/*margin-top:1rem;*/
	/*margin-bottom:1rem;*/
}

.assetSmallerParent.hidden
{
	height:0px !important;
	overflow:hidden;
}

.assetSmallererParent
{
	display:-webkit-flex;
	display:flex;
	/*flex-direction: row;*/
	/*justify-content:flex-start;*/
	flex-wrap:wrap;
	
	/*margin-left:3rem;*/
	
	padding-bottom:.5rem;
	transition: all .4s;
}

.assetParent > .title
{
	font-size:1rem;
	/*padding:.5rem;*/
	/*padding-left:0rem;*/
	border:0rem;
	margin-top:1.27rem;
	margin-left:1.27rem;
}

#assetsTitle
{
	color:grey;
	/*margin: 1rem;*/
	/*width:100%;*/
	font-size:1rem;
	
	display:-webkit-flex;
	display:flex;
	justify-content: space-between;
	text-align:left;
	
	margin-left:1.27rem;
	/*margin-bottom:1.27rem; /*about 14 px on ipad*/
	margin-top:2.36rem; /* about 26 px on ipad*/
	
	height:2%;
}

/*
.assetParent:nth-child(odd)
{
	background:rgba(45,66,85,1);
	color:white;
}

.assetParent:nth-child(even)
{
	background:rgba(45,66,85,.1);
}
*/

.assetParent
{
	color:#3A3A3A;
	/*color:white;*/
	text-align:left;
	/*width:100%;*/
	/*padding-bottom:1rem;*/
	/*margin-left:3.28rem;*/
	/*margin-right:3.28rem;*/
	
	display:-webkit-flex;
	display:flex;
	flex-direction:column;
}

.assetParent > *
{
	/*margin-bottom:1.27rem; /*about 14 px on ipad*/	
	/*margin-left:3.28rem;	*/
	/*margin-right:3.28rem;*/
}

.assetParent > hr
{
	/*padding:1px;*/
	/*margin:1.64rem;*/
	/*border: 0px;*/
	/*height: 1px;*/
	border-color:rgba(0,0,0,0);
	border-bottom-color:#525659;
	width:95%;
	border-bottom: dashed 2px #d0d0d0;
	
}

.containerForResults
{
	height:98%;
	overflow-x:scroll; 
	margin-left:2rem;
	/*height:500px;*/
}

#assetsSlider.hidden
{
	/*width: 0rem !important;*/
	right:-100vw;
}

#assetsSlider.expanded
{
	width:100% !important; 
}

#assetsSlider
{
	z-index:10;
	font-size:1rem !important;
	height: 100%;
	width:100%;
	background-color:#f2f2f2;
	
	/*margin:0rem;*/
	padding:0rem;
	border:0rem;
	
	position:absolute;
	bottom:0rem;
	right:0rem;
	
	color:black;
	text-align:center;
		
	transition: all .4s;
	
	/*overflow-x:auto;*/
	
	transition: all .4s;
	
	/*display:-webkit-flex;*/
	/*display:flex;*/
	flex-direction: column;
	align-items: center;
}

#assetsSlider > *
{
	/*margin-bottom:1.64rem;*/
}

#xIcon
{
	width:2rem;
	height:2rem;	
	
	opacity: 1;
	
	z-index:11;
	position:absolute;
    transition: opacity .4s;
    transform: translateZ(100px);
}
#xIcon.hidden
{
	opacity: 0;
    transition: all .0s;
}

.contentHolder
{
	overflow:hidden;
	
	opacity: 1;
	/*margin:2.5rem;*/
	
    transition: all .4s, height .4s, opacity .4s; /*the .2s is really nice with the .4*/
}
.contentHolder.hidden
{	
	opacity: 0;
	height:0rem;
    transition: all .4s, height .4s 0s, opacity .4s .4s;
}

#assetsHolder
{
	overflow-x:auto;
	/*margin-bottom:3rem;*/
	/*width:100%;*/
}

#assetsHolder::-webkit-scrollbar { 
    display: none; 
}

#greyOutBox.hidden
{
	background: rgba(0,0,0,0) !important;
	z-index: -1 !important;
}

#greyOutBox
{
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0; 
	left:0; 
	background:rgba(0,0,0,.7);
	z-index:1;
	
	transition: all .4s;
}

.linkIcon
{
	height:2.5rem;
}

.finallyOpen
{
	/*left:20px;*/
	/*top:20px;*/
	z-index:10;
}

.arrowDown
{
	/*margin-left:1rem;*/
	/*margin-right:1rem;*/
	font-size:3rem;
}

#slideUpCloseArrow
{
	margin:.5rem;
	height:4rem;
	width:1rem;
	/*margin:1.64rem;*/
	/*margin-bottom:0rem;*/
	/*margin-left:1rem;*/
	transition: all .4s .0s;
	
	position:absolute;
	left:0;
	top:50%;
}

#triangle
{
	position:fixed;
	z-index:10;
	opacity:1;
}

#triangle.hidden
{
	opacity:0;
}























