<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="PsapApp" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/PSAP/logs/PsapApp.log"/>
		<param name="Append"            value="true" />
		<param name="ImmediateFlush"    value="true" />
		<param name="MaxFileSize"       value="20KB" />
		<param name="MaxBackupIndex"    value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<logger name="com.ibm.psap" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="PsapApp"/>
	</logger>
	
	<root>
		<level value="debug" />
		<appender-ref ref="PsapApp" />
	</root>
	
</log4j:configuration>